.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background: #f6f6f6;
}

header, footer {
  background: #333;
  color: white;
  padding: 30px;
}

header {
  text-transform: uppercase;
}

.tariff-cards-list {
  margin: 60px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-width: 600px;
  max-width: 1200px;
}

.tariff-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tc-name {
  background: rgb(58, 206, 255);
  padding: 10px auto;
  color: white;
  border: 2px solid white;
}

.tc-price {
  background: rgb(58, 206, 255);
  padding: 10px 20px;
  color: white;
  border: 2px solid white;
  display: flex;
  justify-content: space-between;
}

.p-number {
  font-size: 42px;
  margin: 30px;
}

.p-timeline {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.tc-speed {
  border: 2px solid white;
  font-size: 18px;
  padding: 10px 20px;
}

.tc-comment {
  background:#e2e2e2;
  border: 2px solid white;
  font-size: 18px;
  padding: 10px 20px;
}